@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap');

body {
    background-color: f1f1f1;
    color: 0f141e;

    font-size: 17px;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    margin: 50px 150px;
}

.avatar{
    max-width: 950px;
    border-radius: 20px; 
    box-shadow: 0px 0px 14px 4px rgba(0 , 0, 0, 0.25);
}

.text {
    color: #333;
}

.youtube {
    line-height: 50px;
    word-spacing: 10px;
    margin-left: 250px;
    
}

.yt {
    display: flex;
    margin-top: -40px;
    margin-left: 110px;
    width: 80px;
}

.inst {
    width: 40px;
    margin-right: 10px;
}

.tg {
    width: 40px;
    margin-right: 10px;
}

.vk {
    width: 40px;
    margin-right: 10px;
}

.knopki {
    display: flex;
    justify-content: center;
    margin-left: 10 px;
}

.all {
    max-width: 950px;
    margin: auto;
}

.impor {
    text-align: center;
}